<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kies een datum</title>
</head>
<body>
<h1>Cinema</h1>
<h3>Kies een datum</h3>
<form action="index.php" method ="post">
<input type="date" name="date" min="">
<br><br>
<input type="submit" value="Selecteer">
</form>
</body>
</html>