<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pick Film!</title>
</head>
<body>
<h3>Kies een Film</h3>
{{  dump(filmlist) }}
<br>
<form action="index.php" method="get">
{% for film in filmlist %}
<p>{{ Film_ID }}</p>
{% endfor %}
<br>
<input type="submit" value="Kies">
</form>
</body>
</html>