<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Thank You!</title>
</head>
<body>
<h3>Bedankt!</h3>

<img src="http://www.vdabantwerpen.be/php/barcode/generate.php?code={{ barcode }}" alt="Uw barcode: {{ barcode }}">
<br><br>
<a href="index.php">Bestel nog een ticket!</a>

</body>
</html>